# Dependências
node_modules/
.pnpm-store/

# Builds e Compilados (Next.js e pacotes locais)
.next/
out/
build/
dist/

# Variáveis de Ambiente (Segurança Crítica 🔒)
.env
.env.local
.env.*.local

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Vercel e ferramentas locais
.vercel/
.turbo/